
# The following depend on your selected configuration
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=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
LANGSMITH_PROJECT=pr-downright-undertaker-31
GOOGLE_API_KEY=AIzaSyCjvn552iHZn6w8H09Y22YAdNmXEjMO73g

## Mongo Atlas
MONGODB_URI=... # Full connection string
