
# The following depend on your selected configuration
LANGSMITH_TRACING=false
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
GOOGLE_API_KEY=

# Qdrant
QDRANT_URL=http://localhost:6333
QDRANT_COL=extract-rag.default
DATA_DIR=./docs
EMBEDDING_MODEL="BAAI/bge-small-en-v1.5"
LABELS="Macroeconomics,Government-Work,Currencies,Energy,Commodities,Agriculture,Livestock,Corporate-Finance"