
# The following depend on your selected configuration
LANGSMITH_TRACING=false
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
GOOGLE_API_KEY=

# Qdrant
QDRANT_DIR=./db_docs
QDRANT_COL=extrag-rag.default